/* static/css/base.css */

/* Global */
body {
    background-color: #362626;
}

/* NavBar & Intro */
#backdrop {
    background-image: url("../starryTent.jpg");
    background-repeat: none;
    height: 30rem;
    /* border-top: 5px solid #644848; */
    border-bottom: 2px solid #333333;
}
#home, #blogHome, #newBlog{
    color: white;
}
#navbarDropdown{
    color: white;
}
#welcome {
    margin-top: 7rem;
    color: white;
}
#gather {
    font-family: 'Dancing Script', cursive;
}

#around {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 7rem;
    text-transform: uppercase;
}

#uncharted {
    font-family: 'Hind Guntur', sans-serif;
}

/* Main Body Content */
#mainView {
    background-color: white;
}

/* LeftScroll */
#leftScroll {
    background-color: #252525;
}

#inspo {
    margin-top: 7rem;
    color: white;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    justify-content: center;
}

#inspo h4 {
    padding-top: 2rem;
}

#inspo img {
    height: 100px;
    width: 100px;
    color: white;
    border-bottom: 1px solid white;
}

/* Blog Posts */
#pins {
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin-top: 2rem;
    margin-right: 1rem;
}

#scrolly {
    position: relative;
    height: 30rem;
    overflow-y: scroll;
    margin-top: 3rem;
}
/******** Footer ************/
#footer {
    background-color: #252525;
}
#logoF{
    height: 180px;
    width: 180px;
    color: white;
    margin-left: 3rem;
    border-bottom: 1px solid white;
}
