/* static/css/base.css */

/* Global */
body {
    background-color: #362626;
}

/* NavBar & Intro */
#backdrop {
    background-image: url("../starryTent.jpg");
    background-repeat: none;
    height: 30rem;
}

#welcome {
    margin-top: 5rem;
    color: white;
}

#gather {
    font-family: 'Dancing Script', cursive;
}

#around {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 7rem;
    text-transform: uppercase;
}

#uncharted {
    font-family: 'Hind Guntur', sans-serif;
}

/* Main Body Content */
#mainView {
    background-color: white;
}

/* LeftScroll */
#leftScroll {
    background-color: #2e2020;
}

#inspo {
    margin-top: 7rem;
    color: white;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    justify-content: center;
}

#inspo h4 {
    padding-top: 2rem;
}

#inspo img {
    height: 100px;
    width: 100px;
    color: white;
}

/* Blog Posts */
#pins {
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin-top: 2rem;
    margin-right: 1rem;
}

#scrolly {
    position: relative;
    height: 30rem;
    overflow-y: scroll;
    margin-top: 3rem;
}

/* #pinned {
    margin-top: 1rem;
    border-bottom: 1px solid grey;
}

#postHead {
    font-family: 'Hind Guntur', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
}

#card {
    color: black;
    text-decoration: none;
    margin-top: 3rem;
}

#cardBody {
    margin: 0.5rem 0;
} */