<!-- templates/base.html -->
<!-- Load static for any css/js/img content -->
{% load static %}
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
        <!-- #paste your font.google here!  -->
        <link rel="stylesheet" href="https://fonts.gstatic.com"> 
    </head>
    <body>
         <div>
            <header>
                <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django blog</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">+ New Blog Post</a>
                </div>
                <!-- Authentication: Show message if user not logged in -->
                {% if user.is_authenticated %}
                    <p>Hi. {{ user.username }}!</p>
                    <p><a href="{% url 'logout' %}">Log Out</a></p>
                {% else %}
                    <p>You are not logged in.</p>
                    <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </header>
        </div>

        <div>
            {% block content %}
            {% endblock content %}
        </div>

    </body>
</html>