<!-- templates/base.html -->
<!-- Load static for any css/js/img content -->
{% load static %}
<html>
    <head>
        <title>Django blog</title>

        <!-- CSS/Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
        <!-- Google Fonts  -->
        <link rel="stylesheet" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dancing+Script&family=Hind+Guntur&display=swap" rel="stylesheet">

    </head>
    <body>
         <div class="container-fluid" id="backdrop">
            <header>
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <!-- Company Name / Left Content-->
                        <ul class="nav justify-content-start">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Campfire Collective</a>
                            </li>
                        </ul>

                        <!-- Right Content -->
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Blog Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'post_new' %}">Add New Post</a>
                            </li>
                            <!-- Authentication: Show message if user not logged in -->
                            {% if user.is_authenticated %}
                                <button class="dropdown btn-outline-light">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hi. {{ user.username }}!
                                      </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                                    </ul>
                                </button>
                            {% else %}
                                <button class="dropdown outline-light">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        You are not logged in
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'login' %}">Log In</a></li>
                                     </ul>
                                    </button>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <!-- Company Greeting -->
                <div id="welcome" class="d-flex flex-column align-items-center">
                    <h3 id="gather">Gather around</h3>
                    <h1 id="around">The Campfire</h1>
                    <!-- <h4 id="uncharted">A blog for the uncharted seekers</h4> -->
                </div>
            </header>
        </div>
        <!-- End Intro Nav -->
        <div id="mainView" data-bs-spy="scroll">
            <div class="row">
                <!-- Content Left -->
                <div id="leftScroll" class="col">
                    <div class="d-flex flex-column align-items-center">
                        <div id="inspo" class="align-self-center">
                            <img src="{% static 'campfire1.png'%}" alt="logo">
                            <h4>A Blog</h4>
                            <h4>For</h4>
                            <h4>Uncharted</h4>
                            <h4>Seekers</h4>
                        </div>
                    </div>
                </div>
                <!-- Main Posts -->
                <div id="blogPosts" class="col-8">
                    <p id="pins">Pinned Posts</p>
                    <div data-bs-target id="scrolly" class="container">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div id="footer" class=" pb-5 container-fluid bg-dark text-white">
            <footer>
                    <div class="row pt-5">
                        <div id="address" class="col-sm ml-3" style="font-family: 'Marcellus', serif;">
                                <h4>Address :</h4>
                                <p>Av. University 245-k 25896</p> 
                        </div>
                        <div class="col-sm-8 text-center border-bottom">
                            <h3 id="logoSmall" class="mb-3" style="font-family: 'Rock Salt', cursive;">Don't Shoot The Messenger Pigeon</h3>
                            <div id="socialMedia">
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-pinterest-square"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                        <div id="hours" class="col-sm mr-3" style="font-family: 'Marcellus', serif;">
                            <h4>Hours :</h4>
                            <p>Monday to Friday from 8:00 am to 5:00pm</p>
                        </div>
                    </div>
                    <div class="mt-3 text-center" style="font-family: 'Marcellus', serif;">
                        <p><a href="#" id="top" class="link-secondary">Top Of Page</a></p>
                        <p id="copyright">Copyright reserved &copy; 2020 Katelynn Heasley</p>
                    </div>
            </footer>
        </div>

    <!-- JS / JQuery Bootstrap Import -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </body>
</html>