<!-- templates/base.html -->
<!-- Load static for any css/js/img content -->
{% load static %}
<html>
    <head>
        <title>Django blog</title>

        <!-- CSS/Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
        <!-- Google Fonts  -->
        <link rel="stylesheet" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dancing+Script&family=Hind+Guntur&display=swap" rel="stylesheet">

    </head>
    <body>
         <div class="container-fluid" id="backdrop">
            <header>
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <!-- Company Name / Left Content-->
                        <ul class="nav justify-content-start">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Campfire Collective</a>
                            </li>
                        </ul>

                        <!-- Right Content -->
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Blog Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'post_new' %}">Add New Post</a>
                            </li>
                            <!-- Authentication: Show message if user not logged in -->
                            {% if user.is_authenticated %}
                                <button class="dropdown btn-outline-light">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hi. {{ user.username }}!
                                      </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                                    </ul>
                                </button>
                            {% else %}
                                <button class="dropdown outline-light">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        You are not logged in
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'login' %}">Log In</a></li>
                                     </ul>
                                    </button>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <!-- Company Greeting -->
                <div id="welcome" class="d-flex flex-column align-items-center">
                    <h3 id="gather">Gather around</h3>
                    <h1 id="around">The Campfire</h1>
                    <h4 id="uncharted">A blog for the uncharted seekers</h4>
                </div>
            </header>
        </div>
        <!-- End Intro Nav -->
        <div id="mainView" data-bs-spy="scroll" class="container">
            <div class="row">
                <!-- Content Left -->
                <div id="leftScroll" class="col">
                    <div class="d-flex flex-column align-items-center">
                        <div class="align-self-center">
                            <h4>READ</h4>
                            <h4>THIS</h4>
                            <h4>HERE</h4>
                            <h4>UPDATE</h4>
                        </div>
                    </div>
                </div>
                <!-- Main Posts -->
                <div id="blogPosts" class="col-8">
                    <div data-bs-target id="scrolly" class="container">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>


    <!-- JS / JQuery Bootstrap Import -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </body>
</html>