<!-- template/home.html -->
{% extends 'base.html' %}

{% block content %}
          <!-- TRIAL -->
    <nav id="navbar-example3" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        {% for post in object_list %}
            <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#{{ post.title }}">{{ post.title }}</a>
            </nav>
        {% endfor %}
    </nav>
    
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
    {% for p in object_list %}
            <h4 id="{{ p.title }}" href="{% url 'post_detail' p.pk %}">{{ p.title }}</h4>
            <p>{{ p.body }}</p>
    {% endfor %}
    </div>
{% endblock content %}

